<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/shutterstock_655882582@2x.png"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Customer relationship management streamlined</h5>
        <br /><br />
        <p class="card-text">
          People are using CRM to quickly and effectively run their online
          business. <br />
          With our full suite of marketing, sales, and creation solutions, you
          can focus on what matters to you most: <br />
          creating content, sharing your story, and making sales. <br />
          Build sustainable relationships with your customers, leads, and
          subscribers. Managing clients just got easier!
        </p>
        <p class="card-text">
          <button
            type="button"
            class="btn btn-primary"
            style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
              margin-top: 50px;
              background-color: black;
              border-color: black;
              border-radius: -15px;
            "
          >
            Start Free Trial
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

