<h1 id="solution">Solutions worth buying</h1><br><br>


<div class="row">
  <div class="col-sm-6" style="max-width:25%; ">
    <div class="card">
      <div class="card-body1">
        <h5 class="card-title"></h5>
        <h1>$29 <span class="bg-secondary"></span></h1>
        <h3>CRM Business <span class="bg-secondary"></span></h3>
        <h6 id="standard">Standard package </h6>
        <h4 id="semana2">/Month </h4>
        <p class="card-text"></p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="max-width:25%; " >
    <div class="card">
      <div class="card-body2">
        <h5 class="card-title"></h5>
        <h1>$59 <span class="bg-secondary"></span></h1>
        <h3 id="crmcall">CRM Call Cente </h3>
        <h6>Premium package</h6>
        <h4 id="semana1">/Month </h4>
        <p></p>
      </div>
    </div>
  </div>
</div><br><br><br>