<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">WHY CRM?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICING</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="#">ABOUT US</a>
         
          
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="#">SUPORT</a>
              
        </li>
       
        <li class="nav-item">
          <a class="nav-link disabled">CONTACT</a>
        </li>
      </ul>
      <img id="bandeira" src="/assets/bandeirainglaterra.png" alt="bandeira">
      <select id="patria">
       
        <option>English</option>
        
     </select>
        <button class="btn btn-outline-success" type="submit">LOG IN</button>
     
    </div>
  </div>
</nav>
