body{
  background: rgb(228, 225, 225);


}

h1 {

  
  
  opacity: 1;
  font-size: 20px;
  letter-spacing: 0px;
  color: #1109f3;
  margin-top: 450px;
  text-align: center;
  line-height: 30px;
  
}

h2{
  
  font-size: 70px;
  color: rgb(228, 225, 225);
  margin-top: -15px;
  line-height: 25px;
}

p{
  font-size: 30px;
  color: #090909;
  


}


.card-img-top{
  max-width: 20%;
  max-height: 100%;
  
}



.card-title{
  text-align: left;
font: normal normal bold 36px/48px Cera Pro;
letter-spacing: 0px;
color: #0058FF;
opacity: 1;
}

.card-text{
text-align: left;
font: normal normal normal 18px/24px Cera Pro;
letter-spacing: -0.18px;
color: #111111;
opacity: 1;

}

.card1{
  background-color: #111111;
  margin-left: 15px;
}



.card-titulo{
  text-align: left;
  font: normal normal bold 36px/48px Cera Pro;
  letter-spacing: 0px;
  color: #0058FF;
  opacity: 1;
}

.card-texto{
  text-align: left;
  font: normal normal normal 18px/24px Cera Pro;
  letter-spacing: -0.18px;
  color: #FFFFFF;
  opacity: 1;

}