<body>
  

<h1>Why choose CRM?
  
  <p>CRM commit to productivity </p>
  <p>with freedom scheduling</p>


</h1>

<h2>teste<br><br></h2>

<div class="card-group">
  <div class="card1" style="max-width: 400px; margin-left: 270px;" >
    <img src="/assets/energy-saving@2x.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-titulo">Efficiency</h5>
      <p class="card-texto">Your employees can work much more efficiently if they know what the plan for today is.</p>
      
    </div>
  </div>
  <div class="card" style="max-width:400px; margin-left: 15px;">
    <img src="/assets/analysis.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Detail Analytics</h5>
      <p class="card-text">Track your sales plan in real time. We build great technology in-house, and put it to work for you.</p>
      
    </div>
  </div>
  <div class="card" style="max-width:400px; margin-left: 15px;">
    <img src="/assets/centralized.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Smart Management</h5>
      <p class="card-text">The system gives you the full visibility and control of your business that will help you drive new sales and enhance profitability.</p>
     
    </div>

    
  </div>
</div><br><br><br><br><br><br><br>
</body>